

// Transitions
.component-fade-enter-active, .component-fade-leave-active {
  // transition: opacity 0.25s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  // opacity: 0;
}

// Typography
.anaglyph {
	color: rgba($red, 0.55);
	font-family: $font-family-sans-serif;
	text-shadow: 0.25rem 0.25rem rgba($teal, 0.55);
	a {
		@extend .anaglyph;
	}
}
.anaglyph-dark {
	color: rgba(mix($red, $blue), 0.6);
	font-family: $font-family-sans-serif;
	text-shadow: -0.125rem 0rem rgba($red, 1), 0.125rem 0.125rem rgba($teal, 1);
	a {
		@extend .anaglyph-dark;
	}
}
.outside {
	color: $yellow;
	font-family: $font-family-serif;
	font-weight: 900;
	line-height: 1em;
	text-shadow: 
		-1px -1px $black, 
		1px 1px $black, 
		2px 2px $yellow, 
		0.1rem 0.1rem $red,
		0.15rem 0.15rem $red,
		0.2rem 0.2rem $red,
		0.25rem 0.25rem $red,
		0.3rem 0.3rem $red,
		0.35rem 0.35rem $red,
		0.4rem 0.4rem $red,
		0.45rem 0.45rem $red,
		0.5rem 0.5rem $red;
	a {
		@extend .outside;
	}
}