#app.home {
	background-attachment: fixed;
	background-image: url('../images/wandering-creek.jpg');
	background-position-y: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	&.bg-1 {
		background-image: url('../images/boats-bay.jpg');
	}
	&.bg-2 {
		background-image: url('../images/lake-view-from-above.jpg');
	}
	&.bg-3 {
		background-image: url('../images/rusty-barn.jpg');
	}
	&.bg-4 {
		background-image: url('../images/wandering-creek.jpg');
	}
	&.bg-5 {
		background-image: url('../images/washed-out-beach.jpg');
	}


	.hilite {
		background-color: $black;
	}

	h1 {
		color: $yellow;
		font-family: $font-family-serif;
		font-size: 9.5rem;
		font-weight: 900;
		letter-spacing: -0.75rem;
		line-height: 10rem;
		text-shadow: 
			-1px -1px $black, 
			1px 1px $black, 
			2px 2px $yellow, 
			0.1rem 0.1rem $red,
			0.15rem 0.15rem $red,
			0.2rem 0.2rem $red,
			0.25rem 0.25rem $red,
			0.3rem 0.3rem $red,
			0.35rem 0.35rem $red,
			0.4rem 0.4rem $red,
			0.45rem 0.45rem $red,
			0.5rem 0.5rem $red;
	}
	h2 {
		color: $blue;
		font-family: "Playfair Display";
		font-size: 4rem;
		font-weight: 400;
		line-height: 4rem;
		// margin-left: 16rem;
		// text-indent: -16rem;
		text-shadow: 
			-1px -1px $black,
			1px 1px $white, 
			2px 2px $blue,
			3px 3px $blue;
		&.inverse {
			color: $yellow;
			text-shadow: 
				-1px -1px $black,
				1px 1px $white, 
				2px 2px $yellow,
				3px 3px $yellow;
		}
	}
	h3 {
		color: $black;
		font-family: $font-family-sans-serif;
		font-size: 2rem;
	}
	h4 {
		color: $white;
		display: inline-block;
		margin-bottom: 0;
		text-shadow:
			1px 0px $black,
			0px 1px $black,
			-1px 0px $black,
			0px -1px $black;
	}
	h5 {
		color: $blue;
		display: inline-block;
		margin-bottom: 0;
		text-shadow:
			1px 0px $black,
			0px 1px $black,
			-1px 0px $black,
			0px -1px $black;
	}
	p, li {
		color: $white;
	}

	#skillz {
		h3 {
			font-size: 3rem;
			line-height: 4rem;
			.badge {
				color: $white;
				display: inline-block;
				font-family: "Playfair Display";
				font-size: 9rem;
				line-height: 4.2rem;
				text-shadow:
					3px 0px $red,
					0px 3px $red,
					-3px 0px $red,
					0px -3px $red;
			}
			.hilite {
				background-color: $blue;
				.font-italic {
					color: $yellow;
					font-weight: 700;
				}
				&.soft-skills {
					background-color: $yellow;
					color: $blue;
					.font-italic {
						color: $blue;
					}
				}
			}
		}
		ul {
			li {
				span {
				}
			}
		}
	}
	footer {
		a {
			text-shadow: 
				1px 0 $black,
				0 1px $black,
				-1px 0 $black,
				0 -1px $black;
		}
	}
}
@media screen and (max-width: map-get($grid-breakpoints, lg)) {
	#home {
		header {
			h1 {
				font-size: 8.5rem;
				letter-spacing: -0.5rem;
				line-height: 5rem;
				margin-bottom: 1rem;
			}
		}
		#about {
			h2 {
				font-size: 3rem;
				line-height: 2.75rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
		#work {
			h2 {
				font-size: 3rem;
				line-height: 2.75rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
	}
}
@media screen and (max-width: map-get($grid-breakpoints, md)) {
	#home {
		header {
			h1 {
				font-size: 6rem;
				letter-spacing: -0.5rem;
				line-height: 5rem;
				margin-bottom: 2rem;
			}
		}
		#about {
			h2 {
				font-size: 3.5rem;
				line-height: 2.75rem;
				margin-bottom: 2rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
		#work {
			h2 {
				font-size: 3.5rem;
				line-height: 2.75rem;
				margin-bottom: 2rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
	}
}
@media screen and (max-width: map-get($grid-breakpoints, sm)) {
	#home {
		header {
			h1 {
				font-size: 5.25rem;
				letter-spacing: -0.5rem;
				line-height: 5rem;
				margin-bottom: 1rem;
			}
		}
		#about {
			h2 {
				font-size: 3rem;
				line-height: 2.75rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
		#work {
			h2 {
				font-size: 3rem;
				line-height: 2.75rem;
				margin-left: 0;
				text-indent: 0;
			}
		}
	}
}