#app #nav {
	position: fixed;
	padding: 0;
	z-index: 9999;
	background-color: $black;
	display: block;
	height: 4rem;
	width: 4rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	> #nav-toggle {
		cursor: pointer;
		margin: 1rem;
		position: relative;
		height: 2rem;
		float: right;
		width: 2rem;
		z-index: 999999;
		.bar {
			background-color: $yellow;
			height: 2px;
			left: 0;
			position: absolute;
			transform: rotate(0deg);
			width: 2rem;
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			&:first-child {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
			}
			&:last-child {
				bottom: 0;
			}
		}
		&:hover {
			.bar {
				&:first-child {
					left: -0.1rem;
					top: 0.625rem;
					transform: rotate(315deg);
					width: 1rem;
				}
				&:last-child {
					bottom: 0.5rem;
					left: -0.1rem;
					transform: rotate(-315deg);
					width: 1rem;
				}
			}
		}
	}
	.wrapper {
		position: absolute;
		opacity: 0;
		margin-top: -190px;
		top: 50%;
		width: 100%;
		z-index: 99999;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				font-size: 0rem;
				margin: 1rem 0;
				-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				-o-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				&.work {
					a {
						color: $green;
						position: relative;
						&:hover {
							color: $green;
							&:after {
								color: $yellow;
								content: "coming soon!";
								display: block;
								font-size: 3rem;
								left: 50%;
								margin-left: -131px;
								position: absolute;
								text-decoration: underline;
								text-shadow: 1px 0 $red, 0 1px $blue, -1px 0 $blue, 0 -1px $red;
								top: 1rem;
								transform: rotate(-8deg);
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
	&.active {
		height: 100vh;
		width: 100vw;
		> #nav-toggle {
			.bar {
				&:first-child {
					left: -0.25rem;
					top: 1rem;
					transform: rotate(495deg);
					width: 2.5rem;
				}
				&:nth-child(2) {
					left: 50%;
					width: 0;
				}
				&:last-child {
					bottom: 0.855rem;
					left: -0.25rem;
					transform: rotate(-495deg);
					width: 2.5rem;
				}
			}
		}
		.wrapper {
			opacity: 1;
			ul {
				li {
					font-size: 4rem;
				}
			}
		}
	}
}