
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html {
  min-height: 100%;
  body {
    background: url('/imgs/tim-split.jpg') no-repeat 0 50%;
    background-size: cover;
    color: $text-color;
    min-height: 100%;

    .navbar-default {

      .navbar-header {
        height: 50px;
      }
      .navbar-collapse {
        box-shadow: none;
      }

      .navbar-nav > li > a {
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        color: $text-color;
      }
      .navbar-nav > li > a:hover, 
      .navbar-nav > li > a:focus,
      .navbar-nav > li > a.active, {
        border-bottom: 2px solid white;
        color: $text-color;
      }

      .navbar-toggle {
        background-color: transparent;
        border-color: transparent;

        .icon-bar {
          background-color: #fff;
        }
      }

      .navbar-toggle:hover,
      .navbar-toggle:focus {
        background-color: transparent;
      }

      .navbar-toggle[aria-expanded="true"] {
        .icon-bar:nth-child(2) {
          margin-top: 5px;
          transform: rotate(45deg);
        }
        .icon-bar:nth-child(3) {
          background-color: transparent;
        }
        .icon-bar:nth-child(4) {
          margin-top: -8px;
          transform: rotate(-45deg);
        }
      }

    }
  }
}